html{
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Martel Sans", sans-serif;
}
body {
  background-color: #050505;
}
.main {
  height: 70rem;
  background-image: url("images/bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
}

.main .box {
  height: 70rem;
  width: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 6.6rem;
  padding-top: 1.5rem;
}
#logo{
  width: 18rem;
}
.flex,
.opt {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.flex > :nth-child(2) {
  font-weight: 800;
  border: 0px;
  padding: 0.4rem 1.6rem;
  border: 0px;
}
.btn-red:hover,
.b :nth-child(2):hover {
  background-color: #b40000;
}
.btn-red {
  border-radius: 0.4rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: 0px;
  background-color: #ff0000;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.hi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
  gap: 0.5rem;
  margin-top: 19.1rem;
  padding: 0px 6rem;
  /* margin-top: 100px; */
}
.hi > :nth-child(1) {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 0;
  text-align: center;
}
.hi :nth-child(2) {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.hi :nth-child(3) {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.b {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem;
}
.b > :first-child {
  background-color: #00000065;
  color: #ffffff;
  width: 35rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.3rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-radius: 0.4rem;
}
.b > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.5rem 2.4rem;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.opt {
  background-color: #0000008c;
  gap: 0.2rem;
  border: 0px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.36);
  border-radius: 0.4rem;
  padding: 0.1rem 1.2rem;
}
select {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  filter: opacity(100%);
  border: 0;
  background: transparent;
}
option {
  color: #000000;
  padding: 0;
}
.line {
  height: 0.8rem;
  width: 100%;
  background-color: #232323;
  box-sizing: border-box; /* Include padding and border in the total width */
}

.first {
  max-width: 80vw;
  box-sizing: border-box;
  margin: auto;
  padding: 6rem 2rem;
  /* height:570px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.text1 {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  align-items: flex-start;
}
.text1 :first-child {
  font-size: 5rem;
  font-weight: 900;
}
.text1 :nth-child(2) {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem;
}
.tv1 {
  position: relative;
}
.tv1 img {
  width: 57rem;
  position: relative;
  z-index: 2;
}
.tv1 video {
  width: 48rem;
  position: absolute;
  top: 7.6rem;
  right: 1.5rem;
}
#t2-bold {
  line-height: 6rem;
}
.tv2 img {
  width: 57rem;
  position: relative;
  z-index: 2;
}
.tv2 video {
  width: 36rem;
  position: absolute;
  top: 3.6rem;
  right: 10.4rem;
}

.faq {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 1rem;
  
  margin: 4.7rem 2rem;
}
.faq > span {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 900;
}
.faqbox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  display: flex;
  width: 74vw;
  margin: auto;
  /* padding: 1.9rem; */
  /* background-color: rgb(45, 45, 45); */
  font-size: 2.4rem;
  font-weight: 400;
  cursor: pointer;
}
.faqbox__disp {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  width: 74vw;
  padding: 1.9rem;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
  transition-property: background-color;
  transition-duration: 0.5s;
  font-size: 2.4rem;
  font-weight: 400;
  cursor: pointer;
}
.faqbox p{
  transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
  box-sizing: border-box;
  text-align: left;
  padding: 1.9rem;
  line-height:4rem;
  background-color: rgb(45, 45, 45);
  display: none;
}

.faqbox__disp:hover {
  
  background-color: rgb(63, 63, 63);
}
.faq span:nth-child(8) {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 4rem;
}
footer {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 11vw;
  /* max-width: 75vw; */
  margin: 5rem auto;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item {
  display: flex;
  flex-direction: column;
}
.item a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  margin: 0.4rem 0px;
}
footer span {
  font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
  *{
    text-align: center;
  }
  .text1 :first-child {
    font-size: 5rem;
    font-weight: 900;
    margin: auto;
}
  nav{
    max-width:95vw;
  }
  .first{
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 725px) {
  html{
    font-size: 7px;
  }
}
@media screen and (max-width: 550px){
  .hi{

    margin-top:9rem;
  }
  #logo{
    padding: 1rem;
    width: 20rem;
  }
  html{
    font-size: 6px;
  }
  .b{
    flex-direction: column;
  }
}